#package-info{
    background: var(--purple-base);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size:12pt;

    #package-cards{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding:10px;
        height: 8em;

        #package-info-hr{    
            border: 0.5px solid;
            border-color: var(--purple-highlight);
        }

    }

    #package-description{
        padding: 15px;
        flex-grow: 1;
        background: 
            linear-gradient(var(--purple-highlight) 0 0) top/ 90% 2px no-repeat;
    }
}
